<div class="container" ng-controller='yummlyRecipeCtrl' ng-init='getLists()'>
    <div class="jumbotron">
        <h1>Welcome to our Lazy Foodie world</h1>
        <h2>Here are top 10 rated recipes</h2>
    </div>    <!--<div class="row">
        <div class="col-sm-3">
            <a href="https://lh3.googleusercontent.com/nJplGzIVN_M5vplJPPlaujuPtirBefbCkQWbknOAtrpkxWrRHzvOWA1rxENELor9Chld3wYEfkaQlPFJspfOKA=s90-c" class="thumbnail">
                <h3 class="text-center">Flat Belly Detox water</h3>
                <img title="Flat Belly Detox water" src="https://lh3.googleusercontent.com/nJplGzIVN_M5vplJPPlaujuPtirBefbCkQWbknOAtrpkxWrRHzvOWA1rxENELor9Chld3wYEfkaQlPFJspfOKA=s90-c" class="img-responsive">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#/recipes/Guacamole-1601887" class="thumbnail">
                <h3 class="text-center">Guacamole</h3>
                <img title="Guacamole" src="https://lh3.googleusercontent.com/F-_KH5pDERr6SceluRVM0Kwhr2_-S2nV9qQg3RpLuQm3eEjvKDRfJSXuIyt0_gdrHD8K6_t_hVRWTnt6sRi1PQ=s90-c" class="img-responsive">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#/recipes/My-Favorite-Lemon-Curd-1603693" class="thumbnail">
                <h3 class="text-center">My Favorite Lemon Curd</h3>
                <img title="My Favorite Lemon Curd" src="https://lh3.googleusercontent.com/GUNusH3sNvYMtmHi0hXYRUWnrs5vJcLP_BFB6RXhFVmenNufJRbgGv7asuEP-0tLiCqr1NO38U6ZSmuTBCyD=s90-c" class="img-responsive">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#/recipes/Parmesan-and-Basil-Orzo-1606707" class="thumbnail">
                <h3 class="text-center">Parmesan and Basil Orzo</h3>
                <img title="Parmesan and Basil Orzo" src="https://lh3.googleusercontent.com/P9qDYjW6_z5hkBlT8GwHHMLwHhyn-b7f3HqnN7DfANCJwgWXzBlDalA_y7h2VSUxfnkX4oxRiWce-WDPF-Wv3Q=s90-c" class="img-responsive">
            </a>
        </div>
    </div>-->

    <div class="panel panel-default" ng-repeat="result in results">
        <span ng-switch="$index % 4">
            <div class="row" ng-switch-when="0">
                <div class="col-sm-3">
                    <a href="#/recipes/{{result.recipeId}}" class="thumbnail">
                        <img title="{{result.name}}" ng-src="{{result.url}}" class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#/recipes/{{result.recipeId}}" class="thumbnail">
                        <img title="{{result.name}}" ng-src="{{result.url}}" class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#/recipes/{{result.recipeId}}" class="thumbnail">
                        <img title="{{result.name}}" ng-src="{{result.url}}" class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#/recipes/{{result.recipeId}}" class="thumbnail">
                        <img title="{{result.name}}" ng-src="{{result.url}}" class="img-responsive">
                    </a>
                </div>
            </div>
        </span>
    </div>
</div>